@{
    Layout = null;
}

<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Портфолио</title>
    <link rel="shortcut icon" href="~/Pictures/portfolio.png" type="image/x-icon">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <link href="~/src/StyleSearch.css" rel="stylesheet" />
    <link href="~/src/StyleReviews.css" rel="stylesheet" />
    
</head>
<body>
    <div id="app" />
    <script src="~/Scripts/bundle.js" type="text/javascript"></script>
</body>
</html>
